* {
  
  margin: 0px;
  padding: 0px;
}
h1{
  margin: 15px;
}

nav {
  display: flex;
  flex-direction: column;
  float: left;
  height: 450px;
  width: 150px;
  padding: 10px;
  margin-left: 10px;
  background-color: #C4C4C4;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50vh;
  transform: translateY(-225px);
}

button {
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 13px;
  margin: 10px 10px;
  transition: all 0.5s;
}

button:hover {
  background-color: aqua;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 50vw;
  height: 8vh;
  background-color: #C4C4C4;
  border-radius: 13px;
  text-align: center;
  padding: 10px;
  margin-top: 1vh;
  font-size: 23px;
}

.search-filter-container {
  height: 5vh;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}


.searchBox {
  border-style: none;
  border-radius: 13px;
  border: 1px solid grey;
  width: 330px;
  height: 30px;
  padding-left: 13px;
}
.sortBox {
  border-style: none;
  border-radius: 13px;
  border: 1px solid grey;
  width: 130px;
  height: 30px;
  padding: 0px 13px;
}

.stocks-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 450px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2vh;
  overflow-y: auto;
}

.stock{
  display: flex;
  background-color: #E0E0E0;
  border-radius: 13px;
  width: 500px;
  height: 100px;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 10px;
  padding: 0px 10px;
  transition: all 0.2s;
}

.logo img{
  border-radius: 28px;
  height: 55px;
  width: 55px;
}

.name-price-change-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 290px;
}

.price-change-container {
  display: flex;
  height: 20px;
  width: 130px;
  justify-content: space-between;
  margin: 3px 0px;
}
.price {
  font-weight: 500;
}
.change {
  font-weight: 500;
  font-size: 14px;
}

.buy-sell-btn-container {
  margin-left: 30px;
  display: flex;
  text-align: center;
  line-height: 25px;
}

.circle-btn {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 5px;
}

.buy {
  border: 4px solid green;
  cursor: pointer;
  transition: all 0.2s;
}
.buy:active {
  background-color: green;
  color: white;
}

.sell {
  border: 4px solid red;
}

.boughtStock {
  background-color: #A2ED88;
}

.removeStock {
 height: 30px;
 width: 30px;
 border-radius: 18px;
 text-align: center;
 line-height: 30px;
 display: none;
 font-size: 30px;
 cursor: pointer;
 margin-left: 60px;
}
.removeStock:hover {
  background-color: #C4C4C4;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 600px;
  width: 85vw;
  transition: all 0.6s;
  top: 1vh;
  transform: translateX(-80vw);
  border: solid black 2px;
  border-radius: 18px;
  background-color: #eeeeee;
}
.portfolio-change {
  transform: translateX(5vw)
}
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  height: 80%;
  padding: 25px 0px;
}

.portfolio-control-btn {
  width: 40px;
  height: 150px;
  transform: translateX(18vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.portfolio-control-btn .bar1 {
  background-color: black;
  height: 35px;
  width: 5px;
  transform: rotateZ(45deg);
  margin: -13px 0px;
}
.portfolio-control-btn .bar2 {
  background-color: black;
  height: 35px;
  width: 5px;
  transform: rotateZ(-45deg);
}

.portfolio-net-change {
  width: 100px;
  line-height: 73px;
  text-align: end;
}

.table-heading{
  text-align: left;
  font-weight: 700;
  margin: 2px 5px;
  width: 150px;
}

.portfolio-header{
  display: flex;
  width: 600px;
}
.table-row {
  display: flex;
  width: 600px;
  margin-bottom: 15px;
  padding: 5px 0px;
  border-bottom: grey 2px solid;
  justify-content: baseline;
  align-items: flex-end;
}

.table-data {
  margin: 2px 5px;
  width: 150px;
}
